<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        table{
            margin: auto;
        }
        table, th, tr,td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>All Users Data</h1>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>Email</th>
            <th>Edit Username</th>
            <th>Delete Username</th>
        </tr>
        <%for(user of result){%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                    <form action="/user/<%=user.id%>/edit" method="get">
                        <button>Edit Username</button>
                    </form>
                </td>
                <td>
                    <form action="/user/<%=user.id%>/delete" method="get">
                        <button>Delete User</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
</body>
</html>